<a href="https://colab.research.google.com/github/Jwouji/ComputationalLogic/blob/main/Clase%203%20Logica%20computacional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicio 1

Use la función int para retomar el numero 100 sumando el caracter "50" al numero 50. Adicionalmente, use la funcion
str para retomar el resultado de la adicion "5050"

In [8]:
a = 50;
b = '50';
print(a + int(b));
print(str(a) + b);

100
5050

# Ejercicio 2

se proveen una letra "1" y tres "0".Use estas para construir el numero 100.Aqui solo se permiten operaciones de adicion entre strings, y la funcion int() puede ser usada solo una vez

In [10]:
arr = ["1", "0", "0", "0"];
result = "".join(arr);
print(result);

1000

# Funciones y Recursión

In [17]:
n1 = 5
n2 = 10

def factorial(number):
  if number < 0:
    return "No hay factorial de negativos"
  elif number == 0:
    return 1
  else:
    fact = 1
    while (number > 1):
      fact *= number
      number -= 1
    return fact

print(factorial(n1))
print(factorial(n2))

120
3628800

In [23]:
n = int(input("Ingrese un numero: "))
print(factorial(n))
def simple_factorial(n):
  aux = n
  for i in range(n-1, 0, -1):
    aux *= i
  return aux

Ingrese un numero: 4
24

In [27]:
number = int(input("Ingrese un numero: "))
def factorial_recursion(number):
  if number == 0:
    return 1
  else:
    return number * factorial_recursion(number - 1)
print(factorial_recursion(number));

Ingrese un numero: 4
24

In [29]:
n1 = int(input("Ingrese un numero: "))
n2 = int(input("Ingrese un numero: "))

import math
print(math.factorial(n1));
print(math.factorial(n2));

Ingrese un numero: 3
Ingrese un numero: 6
6
720

# Ejercicio 3

El teorema de pitagoras afirma que el cuadrado de la hipotenusa c para cualquier triangulo rectangulo es igual al cuadrado de la base a mas el cuadrado de la altura b, escriba un codigo que calcule el largo de la hipotenusa recibiendo la base y la altura como entero

In [38]:
a = int(input(" Ingrese la base: "));
b = int(input(" Ingrese la altura: "));
c = int((a**2 + b**2)**0.5);

print("La hipotenusa es: ", c);

 Ingrese la base: 3
 Ingrese la altura: 4
La hipotenusa es:  5

#Ejercicio 4

Escribe un programa que muestre los valores cuadrados de 2 a 6 en una tabla como la que se mostro anteriormente, en este caso la variable a se puede incrementar de 2 a 6, y n tiene el valor de 2. Ingrese el valor actuarl para la parte correrspondiente de a**n, de tal forma que el resultado de salida de la ecuación sea 2**2.

|a|n|a**n|
|--|--|--|
|2|2|4|
|3|2|9|
|4|2|16|
|5|2|25|
|6|2|36|

In [39]:
a_values = [2, 3, 4, 5, 6]
n = 2

for a in a_values:
    result = a ** n
    print(f"{a}\t{n}\t{result}")

2	2	4
3	2	9
4	2	16
5	2	25
6	2	36

In [42]:
age = int(input("ingrese su edad: "));

if age % 2 == 0:
  print("Su edad es par");
else:
  print("Su edad es impar");

ingrese su edad: 2
Su edad es par

In [ ]:
age = int(input("ingrese su edad: "))
print("par" if age % 2 == 0  else "impar")

# Ejercicio 5
recibir un numero entero de 3 digitos del usuario si el centesimo digito del entero n es 3 entonces devuelve el bloque si no devuelve un false

In [47]:
n = int(input("n: "));

if(n // 100) == 3:
  print(True);
else:
  print(False);

n: 330
True

# Ejercicio 6

Recibe un entero. Si el número entero es multiplo de 5, devuelve True, si no, devuelve False

In [62]:
n = int(input("Ingrese un numero: "));

if (n % 5) == 0:
  print(True);
else:
  print(False);

Ingrese un numero: 49
False

# Ejercicio 7

Reciba una letra alfabetica del ususario e imprima "is a vocal" para las vocales o "is a consonant" para cualquier otra letra. en caso de que no sea ninguna de las dos condiciones imprima "is not an alphabet"

In [68]:
user = input("ingrese un caracter: ");

if user in [ "a", "e", "i", "o", "u"]:
  print("is a vocal");
elif user in [ "b", "c", "d"]:
  print("is a consonant");
else:
  print("is not an alphabet");

ingrese un caracter: a
is a vocal